<div class="container">
  <div class="row">
    <div style="color: white;">
      <h2>プロフィール編集</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <h4>名前</h4>
      <%= f.text_field :name, autofocus: true, style:"color: black;" %>
      <h4>メールアドレス</h4>
      <%= f.email_field :email, autofocus: true, style:"color:black;" %>
      <h4>プロフィール画像</h4>
      <%= f.attachment_field :profile_image %>
      <h4>自己紹介</h4>
      <%= f.text_field :introduction, style: "color:black;" %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="actions">
        <div style="padding-top: 10px;">
          <%= f.submit "Update", class:"btn btn-primary" %>
        </div>
      </div>
      <% end %>

      <h4><%= link_to "戻る", user_path(current_user.id) %></h4>

      <div style="color: black; padding-top: 50px;">
        <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
    </div>
  </div>
</div>